*{
   
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  background-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  background-color: black;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(80, 23, 23);
} 

#total {
  background-color: red;
  color: white;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#img {
  height: 250px;
  padding-top: 20px;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.total{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px;

}

#num1 {
  padding: 20px;
}
#num2 {
  padding: 20px;
}
#num3 {
  padding: 20px;
}